*{margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;}

/*/////////////////*/
/* type d'éléments */
/*/////////////////*/
body{
  background-image: url('https://cdn.glitch.global/91f6f71f-8d76-4679-872c-33727339c8db/background.png?v=1648910078238');
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

html {
  scroll-behavior: smooth;}

textarea {
  width: 100%;
  background: rgba(200, 200, 200, 0);
  border: none;
  outline: none;
  
  font-size:24px;}

input {
  background: rgba(200, 200, 200, 0);
  border: none;
  outline: none;
  font-size:24px;}

hr.rounded {
  border-top: 5px solid rgba(200, 200, 200, 0.5);
  border-bottom: 5px solid rgba(200, 200, 200, 0.5);
  border-radius: 10px;
}

/*/////////////////*/
/* éléments précis */
/*/////////////////*/

.menu ul{display:inline-flex;
  width: 100%;
  background: white;
  box-shadow: 2px 2px 4px grey;
  position:fixed;}

.menu li{font-weight: bold;
  list-style: none;
  cursor: pointer;
  color: black;
  text-align: center;
  width: 25%;
  padding: 20px;
  background: white;
  transition: 0.3s;}

.menu li:hover {background-color: lightgreen;
  color: grey;}


.display{
  background: rgba(200, 200, 200, 0.5);
  position: fixed;
  bottom: 0px;
  width: 100%;
  
}




