*{margin: 0;
  padding: 0;
  font-family: sans-serif;}
html {
  scroll-behavior: smooth;
}
textarea {
  resize: none;
  max-width:10%
}

.menu ul{display:inline-flex;
  width: 100%;
  background: white;
  box-shadow: 2px 2px 4px grey;
  position:fixed;}

.menu li{font-weight: bold;
  list-style: none;
  cursor: pointer;
  color: black;
  text-align: center;
  width: 25%;
  padding: 20px;
  background: white;
  transition: 0.3s;}

.menu li:hover {background-color: lightgreen;
  color: grey;}


.display{
  background: #D8D8D8;
  position: fixed;
  bottom: 300px;}




