*{margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 100;
  color: white}

/*/////////////////*/
/* type d'éléments */
/*/////////////////*/

html {
  scroll-behavior: smooth;}

textarea {
  width: 100%;
  background: rgba(200, 200, 200, 0);
  border: none;
  outline: none;
  resize: none;
  font-size:24px;
  margin-left:2%}

input.field {
  background: rgba(200, 200, 200, 0);
  border: none;
  outline: none;
  font-size:24px;
  margin: 1% 2%;;
  }

input.submit {
  background: rgba(200, 200, 200, 0.1);
  border: none;
  outline: none;
  font-size:24px;

  float: right;
  padding: 1% 2%;}

hr.rounded {
  border-top: 2px solid rgba(200, 200, 200, 0.3);
  border-bottom: 2px solid rgba(200, 200, 200, 0.3);}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;}


/*/////////////////*/
/* éléments précis */
/*/////////////////*/

.menu ul{display:inline-flex;
  width: 100%;
  background: white;
  box-shadow: 2px 2px 4px grey;
  position:fixed;}

.menu li{font-weight: bold;
  list-style: none;
  cursor: pointer;
  color: black;
  text-align: center;
  width: 25%;
  padding: 20px;
  background: white;
  transition: 0.3s;}

.menu li:hover {background-color: lightgreen;
  color: grey;}


.display{
  background: rgba(200, 200, 200, 0.1);
  position: fixed;
  bottom: 0px;
  width: 100%;}

